{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ualace Vieira - Portfólio</title>
    <link rel="stylesheet" href="{% static "css/portfolio.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <main>
        <section class="hero">
            <div class="container hero__content">
                <div class="hero__info">
                    <p class="greeting">Olá, o meu nome é</p>
                    <h2 class="hero__name gradient-text">Ualace Vieira</h2>
                    <p class="hero__description typing-effect" data-text="Desenvolvedor Front-end"></p>
                    <a href="#portfolio" class="cta-button">
                        Conheça meu portfólio <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
                <div class="hero__illustration">
                    <img src="static/img/58ec3ab6-ea10-4324-a952-8843f7a265e2.jpg" alt="Foto" class="main-char">
                    
                </div>
            </div>
        </section>

        <section class="skills">
            <div class="container">
                <h2 class="section-title">HABILIDADES</h2>
                <div class="skills__grid">
                    <div class="skill-item">
                        <img src="https://img.icons8.com/?size=100&id=108784&format=png&color=000000" alt="JavaScript">
                        <span>JavaScript</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/?size=100&id=40670&format=png&color=000000" alt="JavaScript">
                        <span>C</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/?size=100&id=13441&format=png&color=000000" alt="JavaScript">
                        <span>Python</span>
                    </div>
                     <div class="skill-item">
                        <img src="https://img.icons8.com/?size=100&id=40669&format=png&color=000000 alt="JavaScript">
                        <span>C++</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/?size=100&id=LPmcJ9e0FU7K&format=png&color=000000" alt="JavaScript">
                        <span>Django</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/?size=100&id=20909&format=png&color=000000" alt="JavaScript">
                        <span>HTML5</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/?size=100&id=7gdY5qNXaKC0&format=png&color=000000" alt="">
                        <span>CSS3</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/?size=100&id=rgPSE6nAB766&format=png&color=000000" alt="JavaScript">
                        <span>SQL</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/?size=100&id=Wjn4XtfEFiGw&format=png&color=000000" alt="JavaScript">
                        <span>XML</span>
                    </div>
                    <div class="skill-item">
                        <img src="https://img.icons8.com/?size=100&id=20906&format=png&color=000000" alt="JavaScript">
                        <span>Git</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="experience">
            <div class="container">
                <h2 class="section-title">EXPERIÊNCIA</h2>
                <div class="experience__grid">
                    <div class="experience-card">
                        <div class="experience-card__header">
                            <i class="fas fa-briefcase"></i>
                            <h3>Lexius Page</h3>
                        </div>
                        <p class="experience-card__period">Agosto 2023 - Jan 2024</p>
                        <p class="experience-card__description">Desenvolvimento e manutenção de aplicações web, foco em front-end com React e integração com APIs RESTful.</p>
                        <div class="experience-card__tech">
                            <img src="https://img.icons8.com/?size=100&id=LPmcJ9e0FU7K&format=png&color=000000" alt="Django Icon">
                            <img src="https://img.icons8.com/?size=100&id=108784&format=png&color=000000" alt="JS Icon">
                            <img src="https://img.icons8.com/?size=100&id=20909&format=png&color=000000" alt="HTML Icon">
                            <img src="https://img.icons8.com/?size=100&id=7gdY5qNXaKC0&format=png&color=000000" alt="CSS Icon">
                            <img src="https://img.icons8.com/?size=100&id=rgPSE6nAB766&format=png&color=000000" alt="SQL Icon">
                            <img src="https://img.icons8.com/?size=100&id=Wjn4XtfEFiGw&format=png&color=000000" alt="XML Icon">
                        </div>
                    </div>
                    <div class="experience-card">
                        <div class="experience-card__header">
                            <i class="fas fa-briefcase"></i>
                            <h3>G7 Polaris</h3>
                        </div>
                        <p class="experience-card__period">Março 2024 - Outubro 2024</p>
                        <p class="experience-card__description">Colaboração em projetos de desenvolvimento full-stack, atuando na lógica de back-end e otimização de banco de dados.</p>
                        <div class="experience-card__tech">
                            <img src="https://img.icons8.com/?size=100&id=20909&format=png&color=000000" alt="HTML Icon">
                            <img src="https://img.icons8.com/?size=100&id=108784&format=png&color=000000" alt="JS Icon">
                            <img src="https://img.icons8.com/?size=100&id=7gdY5qNXaKC0&format=png&color=000000" alt="CSS Icon">
                            <img src="https://img.icons8.com/?size=100&id=rgPSE6nAB766&format=png&color=000000" alt="SQL Icon">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="projects" class="projects">
            <div class="container">
                <h2 class="section-title">PROJETOS</h2>
                <div class="projects__grid">
                    <div class="project-card">
                        <h3>Barbearia Millenium</h3>
                        <p>Breve descrição do projeto e tecnologias usadas.</p>
                        <a href="#" class="project-link">Ver Projeto <i class="fas fa-external-link-alt"></i></a>
                    </div>
                     <div class="project-card">
                        <h3>Em Construção</h3>
                        <p>Breve descrição do projeto e tecnologias usadas.</p>
                        <a href="#" class="project-link">Ver Projeto <i class="fas fa-external-link-alt"></i></a>
                    </div>
                     <div class="project-card">
                        <h3>Em Construção</h3>
                        <p>Breve descrição do projeto e tecnologias usadas.</p>
                        <a href="#" class="project-link">Ver Projeto <i class="fas fa-external-link-alt"></i></a>
                    </div>
                     
                </div>
                <div class="projects__cta">
                    <button class="btn btn--primary">
                        <i class="fas fa-plus"></i> Mostrar mais projetos
                    </button>
                </div>
            </div>
        </section>

        <section id="contact" class="contact">
            <div class="container">
                <h2 class="section-title">AGRADECIMENTO & CONTATO</h2>
                <div class="contact__content">
                    <p>Entre em contato para saber mais sobre meu trabalho e discutir oportunidades.</p>
                    <div class="contact__info">
                        <a href="mailto:seu.email@example.com" class="contact__link"><i class="fas fa-envelope"></i> ualacecgd@gmail.com</a>
                        <a href="tel:+5511987654321" class="contact__link"><i class="fas fa-phone"></i> (77) 99903-7255</a>
                    </div>
                    <div class="contact__social">
                        <a href="https://www.linkedin.com/in/ualace-vieira-557929284/" class="social-icon" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://github.com/UalaceVGC" class="social-icon" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.instagram.com/ualacethjk/" class="social-icon" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="contact__illustration">
                    <div class="diamond"></div>
                    <div class="diamond"></div>
                    <div class="diamond"></div>
                    <div class="diamond"></div>
                </div>
            </div>
        </section>
    </main>

    <script src="script.js"></script>
</body>
</html>