name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Criar pasta de deploy
        run: |
          mkdir public
          cp Portfolio/templates/index.html public/index.html
          cp -r static public/static || true  # se tiver arquivos estáticos

      - name: Deploy para o GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
